@import "tailwindcss";

@theme {
 
/* Purple Heart */
--color-purple-heart-50: #f6f4fe;
--color-purple-heart-100: #eeebfc;
--color-purple-heart-200: #dfdafa;
--color-purple-heart-300: #c6bdf5;
--color-purple-heart-400: #ab97ee;
--color-purple-heart-500: #8e6ce6;
--color-purple-heart-600: #7d4dda;
--color-purple-heart-700: #6a38c2;
--color-purple-heart-800: #5b31a6;
--color-purple-heart-900: #4c2a88;
--color-purple-heart-950: #2f195c;

/* Mine Shaft */
--color-mine-shaft-50:  oklch(0.972 0.001 99.45);
--color-mine-shaft-100: oklch(0.937 0.002 98.89);
--color-mine-shaft-200: oklch(0.882 0.003 98.13);
--color-mine-shaft-300: oklch(0.794 0.004 96.90);
--color-mine-shaft-400: oklch(0.620 0.007 95.12);
--color-mine-shaft-500: oklch(0.518 0.007 94.19);
--color-mine-shaft-600: oklch(0.435 0.006 94.09);
--color-mine-shaft-700: oklch(0.367 0.007 93.89);
--color-mine-shaft-800: oklch(0.315 0.006 94.23);
--color-mine-shaft-900: oklch(0.273 0.005 94.44);
--color-mine-shaft-950: oklch(0.198 0.003 95.55);



}

/* form page */
form .form-lists {
  display: flex;
  flex-direction: column;

}
.form-lists input[type="text"],
 .form-lists input[type="email"], 
 .form-lists input[type="tel"]   {
    outline: none;
  padding: 4px 12px;
  height: 40px;
}
.form-lists input:hover {
  outline: 2px solid var(--color-purple-heart-700);
  border-radius: 3px;
}
.form-lists input:focus {
  /* outline: 2px solid var(--color-purple-heart-900); */
  border-radius: 3px;
}
.radio-title-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-container {
  position: relative;
  height: 4rem;
  width: 7rem;
  margin: 0.5rem;
}
.input-container input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid var(--color-purple-heart-700);
  border-radius: 8px;
  transition: all 300ms ease;
}
.input-container .radio-title label {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input:checked+ .radio-title {
  background-color: var(--color-purple-heart-700);
  box-shadow: 0 0 12px var(--color-purple-heart-700);
  color: white;
  transform: scale(1.1);
}

input:hover+ .radio-title {
  box-shadow: 0 0 8px var(--color-purple-heart-700);
}
